$('#message').append(
    "<p class=\"mt-3\" style=\"text-align: right;\"><span class=\"chat-right p-1\"><%= @chat.message %></span><br><span class=\"chat-time\"><%= time_ago_in_words(@chat.created_at) %>å‰</span></p>"
);
$('input[type=text]').val("")