<div class="container">
  <h2 class="text-center p-3">サイト紹介</h2>
  <div>
    <p class="text-center about-text">
      コロナウイルスが流行しおうち時間が増えましたが何をして過ごそうか迷っている方が多いと思います。<br>
      そんな時、みんながどんな過ごし方をしているかを知れるサイトになっています。<br>
      このサイトは、画像投稿が出来コミュニケーションが取れるSNSサイトです！<br>
      ログインカウントに応じて特典があります！！<br>
      様々な人と関わりコミュニケーションの輪を広げましょう！！！<br>
    </p>
  </div>
  <div class="about_image"></div>
</div>
