<div class="text-danger">
  <% if obj.errors.any? %>
    <%= obj.errors.count %>件のエラーが発生しました
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li class="list-unstyled"><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>