<footer>
  <div class='mt-5 footer'>
    <div class='row'>
      <div class='mx-auto py-3'>
        <p>Copyright © 2021 Yamamoto All Rights Reserved</p>
      </div>
      <p></p>
    </div>
  </div>
</footer>